@font-face {
  font-family: "iconfont"; /* Project id 4419062 */
  src: url('iconfont.woff2?t=1706109174770') format('woff2'),
       url('iconfont.woff?t=1706109174770') format('woff'),
       url('iconfont.ttf?t=1706109174770') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shenfen:before {
  content: "\e613";
}

.icon-ygxxgl-:before {
  content: "\e616";
}

.icon-video_person_call_filled:before {
  content: "\ea43";
}

.icon-changyongyu:before {
  content: "\e623";
}

.icon-wsmp-friends:before {
  content: "\e65d";
}

.icon-biaoqing:before {
  content: "\e603";
}

.icon-liaotian:before {
  content: "\e619";
}

.icon-tupian:before {
  content: "\e620";
}

.icon-wenjianjia:before {
  content: "\e629";
}

